{% extends "layouts/base.html" %} {% block title %} Customer Profile {% endblock
%} {% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <!-- Müşteri Bilgileri Kısmı -->
    <div class="md-col-4 d-flex flex-wrap">
      <div class="card my-4 w-100">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <h6 class="text-white text-capitalize ps-3">
              Customer Information
            </h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <tr>
                <th class="text-xs font-weight-bolder">Customer ID</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ customer.customer_id }}
                </td>
              </tr>
              <tr>
                <th class="text-xs font-weight-bolder">Name</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ customer.name }}
                </td>
              </tr>
              <tr>
                <th class="text-xs font-weight-bolder">Surname</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ customer.surname }}
                </td>
              </tr>
              <tr><th class="text-xs font-weight-bolder">Country of Residence</th><td class="text-secondary text-sm font-weight-bolder opacity-7">{{ customer.country_of_residence }}</td></tr>
              <tr><th class="text-xs font-weight-bolder">Citizenship</th><td class="text-secondary text-sm font-weight-bolder opacity-7">{{ customer.citizenship }}</td></tr>
              <tr><th class="text-xs font-weight-bolder">Is Politician</th><td class="text-secondary text-sm font-weight-bolder opacity-7">{{ customer.is_politician }}</td></tr>
              <tr><th class="text-xs font-weight-bolder">Has Political Affiliation</th><td class="text-secondary text-sm font-weight-bolder opacity-7">{{ customer.has_political_affiliation }}</td></tr>
              <!-- Diğer bilgileri burada ekleyin -->
            </table>
          </div>
        </div>
      </div>
      <div class="card my-4 w-100">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <h6 class="text-white text-capitalize ps-3">Scores</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <tr>
                <th class="text-xs font-weight-bolder">KKB</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ customer.kkb }}
                </td>
              </tr>
              <tr>
                <th class="text-xs font-weight-bolder">M1 Score</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ customer.m1 }}
                </td>
              </tr>
              <tr>
                <th class="text-xs font-weight-bolder">M2 Score</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ customer.m2 }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Finansal Bilgiler Kısmı -->
    <div class="md-col-8">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <h6 class="text-white text-capitalize ps-3">
              Financial Information
            </h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <tr>
                <th class="text-xs font-weight-bolder">Balance</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ financial_info.balance }}
                </td>
              </tr>
              <tr>
                <th class="text-xs font-weight-bolder">Debt</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ financial_info.debt }}
                </td>
              </tr>
              <tr>
                <th class="text-xs font-weight-bolder">CreditScore</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ financial_info.credit_score }}
                </td>
              </tr>
              <tr>
                <th class="text-xs font-weight-bolder">Loans</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ financial_info.loans }}
                </td>
              </tr>
              <tr>
                <th class="text-xs font-weight-bolder">Savings</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ financial_info.savings }}
                </td>
              </tr>
              <tr>
                <th class="text-xs font-weight-bolder">Investments</th>
                <td class="text-secondary text-sm font-weight-bolder opacity-7">
                  {{ financial_info.investments }}
                </td>
              </tr>
              <tr><th class="text-xs font-weight-bolder">Loan Purpose</th><td class="text-secondary text-sm font-weight-bolder opacity-7">{{ financial_info.loan_purpose }}</td></tr>
              <tr><th class="text-xs font-weight-bolder">Loan Branch</th><td class="text-secondary text-sm font-weight-bolder opacity-7">{{ financial_info.loan_branch }}</td></tr>
              <tr><th class="text-xs font-weight-bolder">Number of Loans</th><td class="text-secondary text-sm font-weight-bolder opacity-7">{{ financial_info.number_of_loans }}</td></tr>
              <tr><th class="text-xs font-weight-bolder">Loan Month</th><td class="text-secondary text-sm font-weight-bolder opacity-7">{{ financial_info.loan_month }}</td></tr>
              <!-- Diğer bilgileri burada ekleyin -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
