{% extends "layouts/base.html" %} {% block title %} Customers {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %} {% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <h6 class="text-white text-capitalize ps-3">Customer List</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Customer ID
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Name
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Surname
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Address</th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    KKB
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    M1
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    M2
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for customer in customers %}
                <tr>
                  <td
                    class="text-uppercase text-secondary text-xxs font-weight-bolder"
                  >
                    {{ customer.customer_id }}
                  </td>
                  <td
                    class="text-uppercase text-secondary text-xxs font-weight-bolder"
                  >
                    {{ customer.name }}
                  </td>
                  <td
                    class="text-uppercase text-secondary text-xxs font-weight-bolder"
                  >
                    {{ customer.surname }}
                  </td>
                  <td class="text-secondary text-sm font-weight-bolder">{{ customer.phone }}</td>
                  <td class="text-secondary text-sm font-weight-bolder">{{ customer.address }}</td>
                  <td
                    class="text-uppercase text-secondary text-xxs font-weight-bolder"
                  >
                    {{ customer.kkb }}
                  </td>
                  <td
                    class="text-uppercase text-secondary text-xxs font-weight-bolder"
                  >
                    {{ customer.m1 }}
                  </td>
                  <td
                    class="text-uppercase text-secondary text-xxs font-weight-bolder"
                  >
                    {{ customer.m2 }}
                  </td>
                  <td>
                    <a href="{{ url_for('home_blueprint.customer_profile', customer_id=customer.customer_id) }}" class="btn btn-primary btn-sm">View</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Grafik Konteyneri Ekleyin -->
<div class="row mt-4">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center">Customer Scores Over Time</h5>
      </div>
      <div class="card-body">
        <canvas id="scoreChart"></canvas>
      </div>
    </div>
  </div>
</div>

</div>

<!-- charts.js dosyasını ekleyin -->
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script>
// Buraya JavaScript kodlarını ekleyin
</script>

{% endblock content %}
